<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update the post</title>
  </head>
  <body>
    <h1>Edit post</h1>
    <form action="/posts/update/<%= id%>?_method=PATCH" method="post">
      <input type="text" name="username" value="<%=data.username %>" placeholder="Username" required />
      <br />
      <input type="text" name="title" value="<%=data.title %>" placeholder="Title" required />
      <br />
      <button type="submit">Edit Post</button>
    </form>
  </body>
</html>