<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All posts</title>
  </head>
  <body>
    <a href="/posts/new">Create New Post</a>
    <h1>All posts</h1>
    <ul>
      <% data.forEach((post, index) => {%>
      <p>@<%= post.username %></p>
      <a href="/posts/<%= index %>"><p><%= post.title %></p></a>
      <form action="/posts/?id=<%= index %>" method="get">
        <button>Delete-</button>
      </form>
      <% }) %>
    </ul>
  </body>
</html>
